@using Microsoft.AspNetCore.Authorization

@inject IActivityRepository _activityRepository
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _nm

@page "/CreateActivity"
@page "/UpdateActivity/{ActivityId:int}"

@attribute [Authorize]

<div class="card shadow border-0 m-4">
    <div class="card-header bg-black bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(ActivityId > 0 ? "Update" : "Create") Activity</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <EditForm Model="Activity" FormName="ActivityUpsertForm" OnValidSubmit="UpsertActivity">
                <DataAnnotationsValidator/>
                <div class="border p-3 mt-4">
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="Activity.Title" class="form-control" id="Title" />
                        <label for="Title">Title</label>
                        <ValidationMessage For="@(() => Activity.Title)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <label for="Description">Description</label>
                        <br/>
                        <InputText @bind-Value="Activity.Desc" class="form-control" id="Description" />
                        <ValidationMessage For="@(() => Activity.Desc)" />
                        
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputSelect @bind-Value="Activity.Type" class="form-control" id="AcType">
                            @foreach (var type in Enum.GetNames(typeof(SD.ActivityType)))
                            {
                                // Iterate the activity types - add the option to the select
                                <option value="@type">@type.ToReadableString()</option>
                            }    
                        </InputSelect>
                        @if (Activity.Type == SD.ActivityType.Other)
                        {
                            <br/>
                            <label for="other">Other Activity Type Name</label>
                            <InputText @bind-Value="Activity.OtherTypeName" class="form-control" id="other" />
                        }
                        <label for="AcType">Activity Type</label>
                        <ValidationMessage For="@(() => Activity.Type)" />
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control">
                                <i class="bi bi-save"></i> @(ActivityId > 0 ? "Update" : "Create")
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a class="btn btn-secondary form-control" href="Activities">
                                <i class="bi bi-x-octagon"></i> Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@code {

    [Parameter]
    public int ActivityId { get; set; } = 0;
    private Activity Activity { get; set; } = new Activity();
    private bool isAuthorized { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (ActivityId == 0)
        {
            // create activity
            Activity.InstructorUserId = user.FindFirst(u => u.Type.Contains("nameidentifier")).Value;
            Activity.OtherTypeName = "";
        }
        else
        {
            // edit activity
            Activity = await _activityRepository.GetAsync(ActivityId);
        }
    }

    public async Task UpsertActivity()
    {
        if (ActivityId == 0)
        {
            // create new activity
            await _activityRepository.CreateAsync(Activity);
            _nm.NavigateTo("/Activities");
        }
        else
        {
            // update activity
            await _activityRepository.UpdateAsync(Activity);
            _nm.NavigateTo("/Activities");
        }
    }

}
