@inject NavigationManager _nm
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject IActivityRepository _activityRepository

@if (activity != null)
{
    <div class="card mb-2 p-0">
        <div class="card-header">
            <h2>@activity.Title</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <p>@activity.Desc</p>
            </div>
            @if (FullActivity)
            {
                <div class="row">
                    <p>@activity.LongDesc</p>
                </div>
            }
            <div class="row">
                <p><strong>@activity.Type.ToString().ToReadableString()</strong></p>
            </div>

            <div class="row">
                <p>@activity.Instructor.UserName</p>
            </div>

            @if (FullActivity)
            {
                <div class="row">
                    @if (activity.Reviews != null)
                    {
                        <br />
                        <p>Reviews</p>
                        <p>Average Score: <strong>@AverageRating</strong></p>
                        <p class="col-3">View Reviews: </p> <input type="checkbox" @onchange="ToggleReviews" class="col-1"/>
                        if (ReviewsToggle)
                        {
                            @foreach (var review in activity.Reviews)
                            {
                                <ActivityReviewCard review="review"></ActivityReviewCard>
                            }
                        }
                    }
                    @if (IsCustomer)
                    {
                        @if (!AddingReview)
                        {
                            @if (activity.Reviews.FirstOrDefault(u => u.CustomerId == userId) == null)
                            {
                                <button class="btn btn-sm" @onclick="AddReviewClicked">Add Review</button>
                            }
                        }
                        else
                        {
                            <AddActivityReviewCard activity="activity" CloseReviewEditor="CloseReview" UpdateAverageScore="CalculateAverageRatingScore"></AddActivityReviewCard>
                        }
                    }
                </div>

            }

            <div class="row">
                @if (ActivityEditable)
                {
                    <div class="col-1">
                        <btn class="btn btn-sm btn-light btn-outline-dark" @onclick="()=>ButtonClick(SD.ButtonAction.Edit)">Edit</btn>
                    </div>
                    <div class="col-2">
                        <btn class="btn btn-sm btn-danger" @onclick="()=>ButtonClick(SD.ButtonAction.Delete)">Delete</btn>
                    </div>
                }
                @if (!FullActivity){
                    <div class="col-1">
                        <btn class="btn btn-sm btn-light btn-outline-dark mb-2" @onclick="()=>ButtonClick(SD.ButtonAction.View)">View</btn>
                    </div>
                }
                else
                {
                    <div class="col-2">
                        <btn class="btn btn-sm btn-light btn-outline-dark" @onclick="()=>ButtonClick(SD.ButtonAction.Cancel)">Go Back</btn>
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Activity activity { get; set; }

    [Parameter]
    public EventCallback OnRefreshRequested { get; set; }

    public bool ActivityEditable { get; set; } = false;

    [Parameter]
    public bool FullActivity { get; set; } = false;

    public bool IsCustomer { get; set; } = false;

    public bool AddingReview { get; set; } = false;

    public double AverageRating { get; set; }

    public bool ReviewsToggle { get; set; } = false;

    public string userId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (FullActivity)
        {
            CalculateAverageRatingScore();
        }

        SetEditable();

        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        if (user.IsInRole(SD.Role_Customer))
        {
            IsCustomer = true;
        }

    }

    private async Task SetEditable()
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var id = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        if (user.IsInRole(SD.Role_Instructor) && activity != null)
        {
            if (activity.InstructorUserId == id)
            {
                // User logged in matches activity user id
                ActivityEditable = true;
            }
            else
            {
                ActivityEditable = false;
            }
        }
    }

    public async Task ButtonClick(SD.ButtonAction action)
    {
        switch (action)
        {
            case SD.ButtonAction.Edit:
                _nm.NavigateTo($"/UpdateActivity/{activity.Id}");
                break;
            case SD.ButtonAction.Delete:
                // Confirm delete
                // do delete
                _activityRepository.DeleteAsync(activity.Id);
                await TriggerRefresh();
                break;
            case SD.ButtonAction.View:
                _nm.NavigateTo($"/ViewActivity/{activity.Id}");
                break;
            case SD.ButtonAction.Cancel:
                _nm.NavigateTo($"/Activities");
                break;
            default:
                break;
        }
    }

    private async Task TriggerRefresh()
    {
        await OnRefreshRequested.InvokeAsync();
    }

    private void AddReviewClicked()
    {
        AddingReview = true;
        StateHasChanged();
    }

    private void CalculateAverageRatingScore()
    {
        var listOfRatings = activity.Reviews.Select(c => c.Rating).ToList();
        AverageRating = Math.Round(listOfRatings.Average(), 1);
    }

    private void ToggleReviews()
    {
        ReviewsToggle = !ReviewsToggle;
    }

    private void CloseReview()
    {
        AddingReview = false;
        StateHasChanged();
    }

}
